@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Poppins';
  height: 100vh;
}

a {
  text-decoration: none;
}

.navbar-brand {
  margin: 0;
}

.top-nav {
  padding: 1em 0;
  z-index: 1;
  background-color: #FFFFFF;
  background-image: url("../img/Header_Background.672bcc84c5cd.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.logo {
  width: 100px;
}

.profile-img {
  width: 45px;
  border-radius: 35px;
}

.signout {
  color: #e84d54;
  background: -webkit-gradient(linear, left bottom, right top, from(#ffc869), color-stop(#fda156), color-stop(#f67950), color-stop(#e84d54), to(#d2145e));
  background: linear-gradient(to right top, #ffc869, #fda156, #f67950, #e84d54, #d2145e);
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dropdown-btn {
  background-color: unset;
  border: none;
  display: none;
  margin: 0 auto;
  outline: none;
}

.nav-link {
  color: #4D657B;
  padding: .5em 1em;
}

.nav-link:hover {
  color: #40446d;
}

.nav-item {
  margin: 0 1em;
  text-align: left;
}

.middle-nav {
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-nav {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 991px) {
  .dropdown-menu {
    left: 37%;
  }
  .top-nav {
    background-position: -190px;
  }
  .dropdown-btn {
    display: block;
  }
  .menu {
    text-align: center;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-link {
    text-align: center;
  }
}

@media only screen and (max-width: 522px) {
  .dropdown-menu {
    left: 27%;
  }
  .top-nav {
    font-size: 14px;
    background-position: -100px;
  }
  .logo {
    width: 55px;
  }
  .signout {
    font-size: 12px;
  }
  .profile-img {
    width: 20px;
  }
  .bottom-nav {
    font-size: 14px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-item {
    margin: 0;
  }
}

@media only screen and (max-width: 325px) {
  .top-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    display: block;
  }
}

.content {
  min-height: 100%;
}

.footer-container {
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  background-color: #292A2E;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: auto;
  clear: both;
  padding: 2em;
}

.footer-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 1em;
}

.footer-title {
  color: #00bcd4;
  font-size: 25px;
  font-weight: 600;
}

.footer-content {
  margin: 0 auto;
}

.footer-content a {
  display: block;
  color: #ffffff;
}

.footer-subcontent {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 0 3em;
}

.copyright {
  margin: 0 auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}

@media only screen and (max-width: 991px) {
  .footer-items {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .footer-title {
    text-align: center;
  }
  .footer-content {
    margin-bottom: 2em;
  }
  .footer-subcontent {
    -ms-grid-rows: none;
        grid-template-rows: none;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 460px) {
  .footer-content {
    font-size: 12px;
  }
  .footer-title {
    font-size: 20px;
  }
  .footer-container {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .copyright {
    font-size: 14px;
  }
}

@media only screen and (max-width: 405px) {
  .footer-subcontent {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=main.css.map */