.footer-clean {
  padding: 50px 0;
  background-color: #fff;
  color: #4b4c4d;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

#top_header {
  display: block;
  text-align: center;
  margin-bottom: -17px;
  font-size: 3rem;
  font-family: Raleway;
  font-weight: 900;
}

.col.instructors_profile {
  max-width: 500px;
  display: flex;
  justify-content: center;
}

#sub_header {
  text-align: center;
  padding: 12px;
  font-size: large;
}

#heading {
  display: flex;
  flex-direction: column;
}

#logo {
  width: 6rem;
}

@media (min-width: 1200px) {
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    padding-right: 22px;
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
  #top_header {
    font-size: 5rem;
  }
}

@media (min-width: 1200px) {
  #sub_header {
    font-size: 1.6rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 300px) {
  #top_header {
    font-size: 0rem;
  }
}

@media (min-width: 1200px) {
  #stat_container {
    width: 100%;
    margin-right: 0px;
  }
}

#stat_container {
  width: 100%;
  height: 300px;
  background-color: #ffffff;
  margin: 5px;
}

@media (min-width: 992px) {
  #stat_container {
    width: 130%;
  }
}

@media (min-width:768px) {
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 23%;
  }
}

