@font-face {
	font-family: 'Raleway';
	src: url(../../assets/fonts/Raleway-Thin.woff2) format('woff2'),
	url(../../assets/fonts/Raleway-Thin.woff) format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url(../../assets/fonts/Raleway-ThinItalic.woff2) format('woff2'),
	url(../../assets/fonts/Raleway-ThinItalic.woff) format('woff');
	font-weight: 100;
	font-style: italic;
}