[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
django-choices-field = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-email-verification = "*"
django-filter = "*"
gunicorn = "*"
pillow = "*"
psycopg2 = "*"
requests = "*"
strawberry-django-auth = "*"
strawberry-django-jwt = "*"
strawberry-django-plus = "==1.29"
strawberry-graphql = "==0.148.0"
strawberry-graphql-django = "==0.8.1"
whitenoise = "*"
django = "*"
cloudinary = "*"
django-q = "*"
tzdata = "*"
python-telegram-bot = "*"
django-multiselectfield = "*"
certifi = "*"
cryptography = "*"

[dev-packages]
black = "*"
mypy = "*"
pylint-django = "*"
flake8 = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
