aniso8601
asgiref
certifi
cloudinary
dj-database-url
Django
django-bootstrap
django-bootstrap-form
django-crispy-forms
django-debug-toolbar
django-email-verification
django-environ
django-filter
django-graphql-auth
django-graphql-jwt
django-heroku
django-maintenance-mode
django-widget-tweaks
graphene
graphene-django
graphql-core
graphql-relay
gunicorn
Pillow
promise
# psycopg2
psycopg2-binary
PyJWT
pytz
Rx
singledispatch
six
sqlparse
text-unidecode
urllib3
whitenoise