cloudinary
Django
django-bootstrap
django-bootstrap-form
django-crispy-forms
django-debug-toolbar
django-email-verification
django-environ
django-filter
django-heroku
django-maintenance-mode
django-widget-tweaks
graphene
graphene-django
django-graphql-jwt==0.3.0
django-graphql-auth==0.3.16
PyJWT==1.7.1
gunicorn
Pillow
psycopg2-binary
whitenoise