<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>CC_loginPage</title>
        <link rel="stylesheet" href={% static 'account/login_page/assets/bootstrap/css/bootstrap.min.css' %}>
        <link rel="stylesheet" href={% static 'account/login_page/assets/css/Login-Form-Clean.css' %}>
        <script src="https://kit.fontawesome.com/aa260f149b.js" crossorigin="anonymous"></script> <!-- please don't change its place-->
    </head>
    <body>
        <div class="logo">
            <img src={% static 'account/login_page/assets/img/logo.png' %} alt="logo.png">
        </div>

         {% if form.errors %}
            <p>
            <h4 style="text-align:center">Your username and password didn't match.</h4>
            <h6 style="text-align:center">Please try again.</h6> 
            </p>
        {% endif %}

        <!-- Registration Form -->
        <div class="container form-box">

            <div class="row no-gutters form-selection">
                <div class="col-6">
                    <button type="button" class="btn signup-button active">Sign up</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn login-button">Log in</button>
                </div>
            </div>
            
            {% comment %} Login {% endcomment %}
            <div id="login" class="form-container">
                <form method="post" action="{% url 'register' %}" >
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
                    <h2 class="login-header form-header">Welcome Back!</h2>
                    <div class="form-group">
                        <i class="fas fa-at"></i>
                        {{ form.username }}
                    </div>

                    <div class="form-group">
                        <i class="fas fa-unlock-alt"></i>
                        {{ form.password }}
                    </div>

                    <div class="form-group">
                        <button class="btn sumbit-btn btn-block" type="submit" name='login'>Log In</button>
                        <a class="forgot" href={% url 'password_reset' %}>Forgot your email or password?</a>
                    </div>
                </form>
            </div>

            {% comment %} Register {% endcomment %}
            <div id="signup" class="form-container show">
                <form method="post" action='{% url 'register' %}' enctype='multipart/form-data'>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                    <h2 class="signUp-header form-header">Join petroly community.</h2>
                    <div class="form-group">
                        <i class="fas fa-user"></i>
                        {{ user_form.username }}
                    </div>

                    <div class="form-group">
                        <i class="fas fa-at"></i>
                        {{ user_form.email }}
                    </div>

                    <div class="form-group">
                        <i class="fas fa-unlock-alt"></i>
                        {{ user_form.password }}
                    </div>

                    <div class="form-group">
                        <i class="fas fa-unlock-alt"></i>
                        {{ user_form.password2 }}
                    </div>

                    <div class="form-group">
                        <i class="fas fa-book">
                        {{ profile_form.major }}</i>
                    </div>

                    <div class="form-group" style="width: 180px">
                        <h6>Profile Picture</h6>
                        {{ profile_form.year }}
                        {{ profile_form.profile_pic }}
                    </div>

                    {% comment %}                     
                    <div class="form-group check">
                        <div class="form-check"><input class="form-check-input" type="checkbox">
                            <label class="form-check-label">I agree to the license terms.</label>
                    </div> {% endcomment %}

                    <div class="form-group">
                        <button class="btn sumbit-btn btn-block" type="submit" name='register'>Sign Up</button>
                    </div>
                </div>  
                </form>
            </div>
        </div>
        <!-- Registration Form (END) -->
        <script src={% static 'account/login_page/assets/js/jquery.min.js' %}></script>
        <script src={% static 'account/login_page/assets/bootstrap/js/bootstrap.min.js' %}></script>
        <script src={% static 'account/login_page/assets/js/form-script.js' %}></script>
    </body>

</html>