{% extends 'base.html' %}

{% block big_text %}
	Reset your password
{% endblock big_text %}

{% block body %}
	{% if validlink %}
		<h3>Please enter your new password twice:</h3>
		<form method="post">
		{{ form.as_p }}
		{% csrf_token %}
		<p><input type="submit" value="Change my password" /></p>
		</form>
	{% else %}
		{% block small_text %}
			The password reset link was invalid, possibly because it has
			already been used. Please request a new password reset.
		{% endblock small_text %}
	{% endif %}
{% endblock body %}