@font-face {
	font-family: 'Caviar Dreams';
	src: url("../../assets/fonts/CaviarDreams.4cf610f8f991.woff2") format('woff2'),
	url("../../assets/fonts/CaviarDreams.ea4648181b5c.woff") format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Caviar Dreams';
	src: url("../../assets/fonts/CaviarDreams-Italic.2e503c666f4c.woff2") format('woff2'),
	url("../../assets/fonts/CaviarDreams-Italic.eb8aa84819b9.woff") format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Caviar Dreams';
	src: url("../../assets/fonts/CaviarDreams-Bold.0fd1a6b01ffe.woff2") format('woff2'),
	url("../../assets/fonts/CaviarDreams-Bold.c7db4c728ca9.woff") format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Caviar Dreams';
	src: url("../../assets/fonts/CaviarDreams-BoldItalic.1e5886cfc5c5.woff2") format('woff2'),
	url("../../assets/fonts/CaviarDreams-BoldItalic.cab91a7aed14.woff") format('woff');
	font-weight: bold;
	font-style: italic;
}