@font-face {
	font-family: 'Raleway';
	src: url("../../assets/fonts/Raleway-Thin.df4b954b4ed4.woff2") format('woff2'),
	url("../../assets/fonts/Raleway-Thin.1c8398e20200.woff") format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url("../../assets/fonts/Raleway-ThinItalic.b922f41513aa.woff2") format('woff2'),
	url("../../assets/fonts/Raleway-ThinItalic.46d78b90d71b.woff") format('woff');
	font-weight: 100;
	font-style: italic;
}