{% extends 'base.html' %}

{% block title %}
  MY Profile
{% endblock title %}

{% block body %}

	<h1>Hi <em>{{ object.username }}</em></h1>
	<p>First name: {{ object.first_name }}</p>
	<p>Last name: {{ object.last_name }}</p>
	<p>Email: {{ object.email }}</p>
	<p>Year: {{ object.profile.year }}</p>
	<p>Your Profile Picture</p>
	{% if object.profile.profile_pic %}
		<img src={{ object.profile.profile_pic.url | default:''}} alt="">
		{% else %} <p>:( you dont have any profile picture setup yet</p>
	{% endif %}
	<h3>To update your information</h3>
	<a href={% url 'profile_form' %}>Edit My Profile</a> <br>

{% endblock body %}