{% extends 'base.html' %}

{% block title %}
  Register
{% endblock title %}

{% block body %}

  <h1>Create an account</h1>
    
  <p>Sign up using the following form or with google account:</p>

  <form enctype='multipart/form-data' method="post">
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Create my account" name='from1'></p>
  </form>
  <form enctype='multipart/form-data' method="post">

    {% csrf_token %}
    <p><input type="submit" value="Create my account" name='form2'></p>
  </form>

{% endblock body %}

