<!DOCTYPE html>
{% extends 'base.html' %}


{% block title %}
    Confirmation
{% endblock title %}

{% block big_text %}
    Click the bellow button to confirm your Email :)
{% endblock big_text %}


{% block body %}
    <form action="{% url 'email_confirm' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="token" value={{ token }}>

        <div>
            <button type="submit" id="submit_button" >VERIFY ME</button>
        </div>
    </form>
    
{% endblock body %}

