@font-face {
	font-family: 'Caviar Dreams';
	src: url(../../assets/fonts/CaviarDreams.woff2) format('woff2'),
	url(../../assets/fonts/CaviarDreams.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Caviar Dreams';
	src: url(../../assets/fonts/CaviarDreams-Italic.woff2) format('woff2'),
	url(../../assets/fonts/CaviarDreams-Italic.woff) format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Caviar Dreams';
	src: url(../../assets/fonts/CaviarDreams-Bold.woff2) format('woff2'),
	url(../../assets/fonts/CaviarDreams-Bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Caviar Dreams';
	src: url(../../assets/fonts/CaviarDreams-BoldItalic.woff2) format('woff2'),
	url(../../assets/fonts/CaviarDreams-BoldItalic.woff) format('woff');
	font-weight: bold;
	font-style: italic;
}