{% extends 'base.html' %}

{% block title %}
    Create Roommate Offer
{% endblock title %}

{% block big_text %}
    Create Your Roommate Offer
{% endblock big_text %}

{% block small_text %}
    Let Others Know Important Things About You.
{% endblock small_text %}

{% block body %}
    {% if user.offer %}
        <center>
            <a href="{% url 'roommate:offer_delete' user.offer.pk %}"><h1>DELETE MY OFFER!</h1></a>
        </center>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <center>
            <label for="use-default-email">Use The Email From My Account?</label>
            <input type="checkbox" name="use-default-email" id="use-default-email">
        </center>
        {{ form.as_p }}
        <button type="submit">CREATE/UPDATE</button>
    </form>

{% endblock body %}